/* || СТИЛИ НАВБАРА НА ГЛАВНОЙ СТРАНИЦЕ || */

.navbar-shrink {
  padding: 0.5rem 1rem !important;
  transition: padding 0.3s ease-in-out;
  font-size: 0.8rem; /* Уменьшение размера текста */
}

.navbar {
  padding: 2rem 1rem;
  transition: padding 0.3s ease-in-out;
  display: flex;
  justify-content: space-between; /* Распределение элементов по краям */
  font-size: 1rem; /* Начальный размер текста */
}

.navbar-brand {
  margin-right: auto; /* Сдвигаем "Студпортфолио" вправо */
  padding-left: 20px; /* Базовый отступ слева */
}

.navbar-nav {
  margin-left: auto; /* Сдвигаем элементы справа влево */
  padding-right: 20px; /* Базовый отступ справа */
}

/* Медиа-запросы для адаптивного изменения отступов */
@media (min-width: 768px) {
  .navbar-brand {
    padding-left: 50px; /* Отступ слева для экранов >= 768px */
  }

  .navbar-nav {
    padding-right: 50px; /* Отступ справа для экранов >= 768px */
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    padding-left: 100px; /* Отступ слева для экранов >= 1024px */
  }

  .navbar-nav {
    padding-right: 100px; /* Отступ справа для экранов >= 1024px */
  }
}

@media (min-width: 1440px) {
  .navbar-brand {
    padding-left: 190px; /* Отступ слева для экранов >= 1440px */
  }

  .navbar-nav {
    padding-right: 190px; /* Отступ справа для экранов >= 1440px */
  }
}

/*|| Футтер ||*/

main {
  min-height: 100vh;
  padding-top: 20px;
  padding: 20px;
  flex: 1;
  padding-bottom: 50px;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота всего экрана */
    padding-top: 30px; 
     
}

html {
  scroll-behavior: smooth;
}

footer {
  margin-top: 50px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    margin-top: auto;
}


/*|| КНОПКА РЕГИСТРАЦИЙ ||*/

/* || КНОПКА РЕГИСТРАЦИЙ || */

.register-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #17a2b8; /* Цвет из палитры модального окна */
    color: #ffffff;
    border: 2px solid #138496; /* Цвет из палитры модального окна */
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.register-btn:hover {
    background-color: #138496; /* Цвет из палитры модального окна */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.register-btn-student {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #343a40; /* Цвет из палитры модального окна */
    color: #ffffff;
    border: 2px solid #23272b; /* Цвет из палитры модального окна */
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.register-btn-student:hover {
    background-color: #23272b; /* Цвет из палитры модального окна */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    animation: pulse 1s infinite;
}

/*|| ПАРОЛЬ ||*/

  .strength-bar {
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 5px;
    transition: background-color 0.5s ease;
  }
  .strength-bar.weak {
    background-color: red;
  }
  .strength-bar.medium {
    background-color: yellow;
  }
  .strength-bar.strong {
    background-color: green;
  }
