/* || СТИЛИ НАВБАРА НА ГЛАВНОЙ СТРАНИЦЕ || */

.navbar-shrink {
  padding: 0.5rem 1rem !important;
  transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out;
  justify-content: center; /* Центрирование элементов */
  font-size: 0.5rem; /* Уменьшение размера текста */
}

.navbar {
  padding: 2rem 1rem;
  transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between; /* Распределение элементов по краям */
  font-size: 1rem; /* Начальный размер текста */
}

.navbar-brand {
  transition: transform 0.3s ease-in-out;
}

.navbar-nav {
  transition: transform 0.3s ease-in-out;
}

.navbar-shrink .navbar-brand {
  transform: translateX(180%); /* Увеличенное смещение вправо */
  /* или можно использовать margin для смещения */
  margin-right: 100px; /* Добавляет отступ справа */
}

.navbar-shrink .navbar-nav {
  transform: translateX(-100%); /* Увеличенное смещение влево */
}

/*|| Футтер ||*/

main {
  min-height: 100vh;
  padding-top: 20px;
  padding: 20px;
  flex: 1;
  padding-bottom: 50px;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота всего экрана */
    padding-top: 30px; 
     
}

html {
  scroll-behavior: smooth;
}

footer {
  margin-top: 50px;
    color: rgb(0, 0, 0);
    background-color: #ffffff; /* или любой другой цвет, который вы используете для футера */
    width: 100%;
    margin-top: auto;
}


/*|| КНОПКА РЕГИСТРАЦИЙ ||*/

.register-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #f8f9fa;
    color: #495057;
    border: 2px solid #dee2e6;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.register-btn:hover {
    background-color: #e2e6ea;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/*|| ПАРОЛЬ ||*/

  .strength-bar {
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 5px;
    transition: background-color 0.5s ease;
  }
  .strength-bar.weak {
    background-color: red;
  }
  .strength-bar.medium {
    background-color: yellow;
  }
  .strength-bar.strong {
    background-color: green;
  }
