/* || ОБЩИЕ СТИЛИ || */

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота всего экрана */
    padding-top: 30px; 
     
}

html {
  scroll-behavior: smooth;
}

/* || НАВИГАЦИЯ || */

.body-nav{
    padding-top: 70px;
}

.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* || ОСНОВНОЕ СОДЕРЖИМОЕ || */

main {
  min-height: 100vh;
  padding-top: 20px;
  padding: 20px;
  flex: 1;
  padding-bottom: 50px;
}

/* || ФУТЕР || */

footer {
  margin-top: 50px;
    color: white;
    background-color: #333; /* или любой другой цвет, который вы используете для футера */
    width: 100%;
    margin-top: auto;
}

/* || АНИМАЦИИ || */

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 15% 50%;}
}

/* || ЭФФЕКТЫ || */

.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}

.is-animated {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.is-animated.animate {
  opacity: 1;
  transform: translateY(0);
}

.is-animated.reverse-animate {
  opacity: 0;
  transform: translateY(50px);
}

.bg-darker {
  background: linear-gradient(-60deg, #201b1b, #28501c63, #5b5799, #7c0817);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

/* ПАРОЛЬ */
.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group .form-control {
  padding-right: 2.5rem; /* Увеличьте отступ справа, чтобы кнопка не перекрывала текст */
}

.input-group .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* ПАРОЛЬ */
.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group .form-control {
  padding-right: 2.5rem;
}

.input-group .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}
