{% extends "base_index.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 shadow-lg">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-primary">Для работодателей</h1>
        <p class="fs-4 text-secondary">Находите талантливых студентов и публикуйте вакансии</p>
        <p class="text-muted">Мы предоставляем работодателям уникальную возможность взаимодействия с базой данных талантливых студентов. Вы можете не только просматривать портфолио потенциальных кандидатов, но и публиковать вакансии, чтобы привлечь лучшие кадры.</p>
        <h2 class="mt-4 text-info">Возможности, доступные сейчас:</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Публикация вакансий:</strong> Размещайте вакансии, которые будут доступны студентам для просмотра и отклика.</li>
        </ul>
        <h2 class="mt-4 text-info">Возможности, над которыми мы работаем:</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Поиск и фильтрация кандидатов:</strong> Используйте фильтры для поиска студентов по специализациям, навыкам и учебным достижениям.</li>
            <li class="list-group-item"><strong>Система уведомлений:</strong> Получайте уведомления о новых кандидатах, соответствующих вашим критериям поиска.</li>
            <li class="list-group-item"><strong>Прямое взаимодействие:</strong> Возможность напрямую связываться с кандидатами через платформу.</li>
        </ul>
        <p class="lead">Мы стремимся создать максимально удобный и функциональный инструмент для взаимодействия работодателей и студентов. Следите за обновлениями!</p>
        <a href="{{ url_for('register_employer') }}" class="register-btn">Регистрация</a>
    </div>
</div>
{% endblock %}