{% extends "base_student.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="{{ student.user.avatar_url() }}" alt="avatar" class="rounded-circle mb-3" width="150" height="150">
          <h4>{{ student.surname }} {{ student.first_name }} {{ student.middle_name }}</h4>
          {% if student == current_user %}
          <a href="{{ url_for('auth.settings') }}" class="btn btn-dark mt-2">Редактировать профиль</a>
          {% endif %}
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Контактная информация</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Ник:</strong> {{ student.username }}</li>
            <li class="list-group-item"><strong>Номер телефона:</strong> {{ student.user.phone }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ student.user.email }}</li>
            <li class="list-group-item"><strong>О себе:</strong> {{ student.user.about }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Портфолио</h3>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for project in student.projects %}
            <div class="col">
              <div class="card h-100 shadow-sm">
                <img src="{{ project.files[0].filename if project.files else url_for('static', filename='default_project_image.jpg') }}"
                     class="card-img-top" alt="{{ project.title | default('Стандартное изображение проекта') }}" />
                <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description }}</p>
                </div>
                <div class="card-footer text-muted">
                  <small>Область: {{ project.field }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}