{% extends "base_students.html" %}

{% block content %}
<div class="container mb-5" id="flashed-messages"> 
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form shadow p-4">
                <h2 class="text-center mb-4"><i class="bi bi-pencil-square"></i> Регистрация</h2>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <i class="bi bi-person-badge"></i> {{ form.surname.label }}
                        {{ form.surname(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <i class="bi bi-person"></i> {{ form.first_name.label }}
                        {{ form.first_name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <i class="bi bi-person-lines-fill"></i> {{ form.middle_name.label }}
                        {{ form.middle_name(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <i class="bi bi-person-circle"></i> {{ form.username.label }}
                        {{ form.username(class="form-control", id="username") }}
                        <div id="usernameFeedback"></div>
                    </div>
                    <div class="mb-3">
                        <label class="col-sm-3 col-form-label">{{ form.phone_number.label }}</label>
                        <div class="col-sm-9">
                            {{ form.phone_number(id="phone_number", class="form-control", placeholder="+7 (___) ___-__-__") }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <i class="bi bi-envelope-fill"></i> {{ form.email.label }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="mb-3">
                    <label for="password">{{ form.password.label }}</label>
                    <div style="font-size: 0.8rem; margin-bottom: 5px;">Пароль должен содержать минимум 8 символов, включая хотя бы одну заглавную букву, одну цифру и спецсимвол.</div>
                    {{ form.password(class="form-control", id="password", type="password", pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}") }}
                    <div id="passwordStrength" style="height: 10px; width: 0%; background-color: gray; transition: width 0.5s ease, background-color 0.5s ease;"></div>
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword" style="cursor: pointer;">
                                <i class="bi bi-eye-slash"></i>
                            </button>
                            <span id="passwordStatus" class="ms-2">Пароль скрыт</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <i class="bi bi-lock-fill"></i> {{ form.confirm_password.label }}
                        {{ form.confirm_password(class="form-control", onpaste="return false;") }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}