{% if role == RoleEnum.STUDENT %}
    {% extends "base_student.html" %}
{% elif role == RoleEnum.EMPLOYER %}
    {% extends "base_employer.html" %}
{% endif %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2>{{ vacancy.title }}</h2>
                </div>
                <div class="card-body">
                    <p class="lead"><strong>Описание:</strong></p>
                    <p class="card-text">{{ vacancy.description }}</p>

                    <hr>

                    <p class="lead"><strong>Детали вакансии:</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Тип занятости:</strong> {{ employment_type_display_names[vacancy.employment_type] }}</li>
                        <li class="list-group-item"><strong>Обязанности:</strong> <pre>{{ vacancy.responsibilities }}</pre></li>
                        <li class="list-group-item"><strong>Требования:</strong> <pre>{{ vacancy.requirements }}</pre></li>
                        <li class="list-group-item"><strong>Условия работы:</strong> <pre>{{ vacancy.conditions }}</pre></li>
                        <li class="list-group-item"><strong>Ключевые навыки:</strong> <pre>{{ vacancy.key_skills }}</pre></li>
                        <li class="list-group-item"><strong>Сфера деятельности:</strong> {{ specialty_display_names[vacancy.specialty] }}</li>
                    </ul>
                    {% if role == RoleEnum.STUDENT %}
                        {% if is_applied %}
                            <p class="text-success">Вы откликнулись на эту вакансию</p>
                        {% else %}
                            <form action="{{ url_for('application.apply', vacancy_id=vacancy.id) }}" method="post">
                                <button type="submit" class="btn btn-success">Откликнуться на вакансию</button>
                            </form>
                        {% endif %}
                        <p class="mt-3">Столько то заинтересовались вакансией: {{ vacancy.get_application_count() }}</p>
                    {% elif role == RoleEnum.EMPLOYER and current_user.employer.id == vacancy.employer_id %}
                        <hr>
                        <p class="lead"><strong>Студенты, откликнувшиеся на вакансию:</strong></p>
                        <ul class="list-group list-group-flush">
                            {% for student in applicants %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('search.view_student', username=student.username) }}">{{ student.first_name }} {{ student.last_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="mt-3">Столько то заинтересовались вакансией: {{ vacancy.get_application_count() }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-5"></div>
{% endblock %}