{% if role == RoleEnum.STUDENT %}
    {% extends "base_student.html" %}
{% elif role == RoleEnum.EMPLOYER %}
    {% extends "base_employer.html" %}
{% endif %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ vacancy.title }}</h3>
                    <p class="card-text"><strong>Описание:</strong> {{ vacancy.description }}</p>
                    <p class="card-text"><strong>Тип занятости:</strong> {{ vacancy.employment_type }}</p>
                    <p class="card-text"><strong>Обязанности:</strong> {{ vacancy.responsibilities }}</p>
                    <p class="card-text"><strong>Требования:</strong> {{ vacancy.requirements }}</p>
                    <p class="card-text"><strong>Условия работы:</strong> {{ vacancy.conditions }}</p>
                    <p class="card-text"><strong>Ключевые навыки:</strong> {{ vacancy.key_skills }}</p>
                    <p class="card-text"><strong>Сфера деятельности:</strong> {{ vacancy.specialty }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}