{% if role == RoleEnum.STUDENT %}
    {% extends "base_student.html" %}
{% elif role == RoleEnum.EMPLOYER %}
    {% extends "base_employer.html" %}
{% endif %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2>{{ vacancy.title }}</h2>
                </div>
                <div class="card-body">
                    <p class="lead"><strong>Описание:</strong></p>
                    <p class="card-text">{{ vacancy.description }}</p>

                    <hr>

                    <p class="lead"><strong>Детали вакансии:</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Тип занятости:</strong> {{ vacancy.employment_type }}</li>
                        <li class="list-group-item"><strong>Обязанности:</strong> {{ vacancy.responsibilities }}</li>
                        <li class="list-group-item"><strong>Требования:</strong> {{ vacancy.requirements }}</li>
                        <li class="list-group-item"><strong>Условия работы:</strong> {{ vacancy.conditions }}</li>
                        <li class="list-group-item"><strong>Ключевые навыки:</strong> {{ vacancy.key_skills }}</li>
                        <li class="list-group-item"><strong>Сфера деятельности:</strong> {{ vacancy.specialty }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-5"></div>
{% endblock %}
