{% extends "base_students.html" %}

{% block title %}Настройки аккаунта{% endblock %}

{% block content %}
<div class="container-fluid mt-4 bg-dark text-white">
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active bg-secondary text-white" id="v-pills-avatar-tab" data-bs-toggle="pill" href="#change-avatar" role="tab" aria-controls="v-pills-avatar" aria-selected="true"><i class="bi bi-person-circle"></i> Изменить аватар</a>
                <a class="nav-link bg-secondary text-white" id="v-pills-profile-tab" data-bs-toggle="pill" href="#edit-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="bi bi-pencil-square"></i> Редактировать профиль</a>
                <a class="nav-link bg-secondary text-white" id="v-pills-password-tab" data-bs-toggle="pill" href="#change-password" role="tab" aria-controls="v-pills-password" aria-selected="false"><i class="bi bi-shield-lock-fill"></i> Изменить пароль</a>
                <a class="nav-link bg-secondary text-white" id="v-pills-email-tab" data-bs-toggle="pill" href="#change-email" role="tab" aria-controls="v-pills-email" aria-selected="false"><i class="bi bi-envelope-fill"></i> Изменить почту</a>
                <a class="nav-link bg-secondary text-white" id="v-pills-social-tab" data-bs-toggle="pill" href="#connect-social" role="tab" aria-controls="v-pills-social" aria-selected="false"><i class="bi bi-people-fill"></i> Подключить соцсети</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="change-avatar" role="tabpanel" aria-labelledby="v-pills-avatar-tab">
                    <h3 class="mb-3 text-center text-white"><i class="bi bi-camera"></i> Загрузить новый аватар</h3>
                    <form action="{{ url_for('upload_avatar_students', user_id=current_user.id) }}" method="post" enctype="multipart/form-data" class="p-3 border rounded bg-secondary text-white">
                        {{ avatar_form.hidden_tag() }}
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ avatar_form.avatar.label.text }}</label>
                            <div class="col-sm-9">
                                {{ avatar_form.avatar(class="form-control") }}
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark"><i class="bi bi-upload"></i> {{ avatar_form.submit_avatar.label.text }}</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h3 class="mb-3 text-center text-white"><i class="bi bi-gear"></i> Редактировать профиль</h3>
                    <form action="{{ url_for('settings_students') }}" method="post" class="p-3 border rounded bg-secondary text-white">
                        {{ edit_profile_form.hidden_tag() }}
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ edit_profile_form.surname.label.text }}</label>
                            <div class="col-sm-9">
                                {{ edit_profile_form.surname(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ edit_profile_form.first_name.label.text }}</label>
                            <div class="col-sm-9">
                                {{ edit_profile_form.first_name(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ edit_profile_form.middle_name.label.text }}</label>
                            <div class="col-sm-9">
                                {{ edit_profile_form.middle_name(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ edit_profile_form.phone_number.label.text }}</label>
                            <div class="col-sm-9">
                                {{ edit_profile_form.phone_number(class="form-control", placeholder="+7 (___) ___-__-__") }}
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ edit_profile_form.about.label.text }}</label>
                            <div class="col-sm-9">
                                {{ edit_profile_form.about(class="form-control", rows="4") }}
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-dark"><i class="bi bi-check-circle"></i> {{ edit_profile_form.submit.label.text }}</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                    <h3 class="mb-3 text-center text-white"><i class="bi bi-key-fill"></i> Изменить пароль</h3>
                    <form action="{{ url_for('change_password_students') }}" method="post" class="p-3 border rounded bg-secondary text-white">
                        {{ password_form.hidden_tag() }}
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ password_form.current_password.label.text }}</label>
                            <div class="col-sm-9">
                                {{ password_form.current_password(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ password_form.new_password.label.text }}</label>
                            <div class="col-sm-9">
                                {{ password_form.new_password(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label text-white">{{ password_form.confirm_password.label.text }}</label>
                            <div class="col-sm-9">
                                {{ password_form.confirm_password(class="form-control") }}
                                <div class="invalid-feedback" style="display: none;">
                                    Пароли не совпадают.
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class = "btn btn-dark"><i class="bi bi-check-circle"></i> {{ password_form.submit.label.text }}</button>
                        </div>
                    </form>
                    <script>

                    </script>
                </div>
                <div class="tab-pane fade" id="change-email" role="tabpanel" aria-labelledby="v-pills-email-tab">
                    <h3 class="mb-3 text-white"><i class="bi bi-envelope-open-fill"></i> Изменить почту</h3>
                    <!-- Форма изменения почты -->
                </div>
                <div class="tab-pane fade" id="connect-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
                    <h3 class="mb-3 text-white"><i class="bi bi-broadcast"></i> Подключить соцсети</h3>
                    <!-- Форма подключения соцсетей -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}