{% extends "base_employer.html" %}

{% block content %}
    <div class="container mt-5 mb-5" style="max-width: 800px">
        <h1 class="text-center mb-4">Создать вакансию</h1>
        <form method="POST" action="{{ url_for('vacancy.create_vacancy') }}" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label" for="title">
                    <i class="bi bi-pencil"></i> {{ form.title.label.text }}
                </label>
                {{ form.title(class="form-control", id="title") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">
                    <i class="bi bi-card-text"></i> {{ form.description.label.text }}
                </label>
                {{ form.description(class="form-control", id="description", rows="3") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="employment_type">
                    <i class="bi bi-briefcase"></i> {{ form.employment_type.label.text }}
                </label>
                {{ form.employment_type(class="form-select", id="employment_type") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="responsibilities">
                    <i class="bi bi-list-task"></i> {{ form.responsibilities.label.text }}
                </label>
                {{ form.responsibilities(class="form-control", id="responsibilities", rows="3") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="requirements">
                    <i class="bi bi-file-earmark-text"></i> {{ form.requirements.label.text }}
                </label>
                {{ form.requirements(class="form-control", id="requirements", rows="3") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="conditions">
                    <i class="bi bi-building"></i> {{ form.conditions.label.text }}
                </label>
                {{ form.conditions(class="form-control", id="conditions", rows="3") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="key_skills">
                    <i class="bi bi-lightbulb"></i> {{ form.key_skills.label.text }}
                </label>
                {{ form.key_skills(class="form-control", id="key_skills") }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="specialty">
                    <i class="bi bi-award"></i> {{ form.specialty.label.text }}
                </label>
                {{ form.specialty(class="form-select", id="specialty") }}
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Создать
            </button>
        </form>
    </div>
{% endblock %}